@import url("https://fonts.googleapis.com/css?family=Assistant:400,700,800&subset=hebrew");

* {
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

html {
  height: 100%;
}

body {
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 4.5vw;
  }

  @media (max-width: 767px) {
    font-size: 4.5vw;
  }

  margin: 0;
  background: #0e0e0e;
  color: white;
  height: 100%;
  font-size: 1vw;
}

.logo {
  width: 20vh;
}

img {
  border: 0;
}

.arrow {
  padding-right: 1vw;
  img {
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 30vw;
    }

    @media (max-width: 767px) {
      width: 30vw;
    }

    width: 10vw;
    vertical-align: middle;
  }
}

::placeholder {
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 4vw;
  }

  @media (max-width: 767px) {
    font-size: 4vw;
  }

  padding: 0.5vw;
  font-size: 1vw;
}

.divform {
  position: relative;
  display: inline-block;
  text-align: right;

  a {
    color: white;
  }

  .terms {
    display: inline-block;
    margin-right: 25px;
  }
}

.info {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 60vw;
    height: 20vh;
    font-size: 4vw;
  }

  @media (max-width: 767px) {
    width: 60vw;
    height: 15vh;
    font-size: 4vw;
  }

  resize: none;
  width: 17.5vw;
  font-size: 1vw;
  border: 0;
}

.mail {
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 60vw;
    height: 8vh;
    font-size: 4vw;
  }

  @media (max-width: 767px) {
    width: 60vw;
    height: 6vh;
    font-size: 4vw;
  }

  width: 17.5vw;
  height: 6vh;
  font-size: 1vw;
  margin: 0.8vh 0 0.5vh 0;
  border: 0;
}

.btn {
  @media (min-width: 768px) and (max-width: 1024px) {
    margin: 1.5vh 0 1vh 0;
    width: 60vw;
    height: 8vh;
    font-size: 4vw;
    border: 0.5vw solid white;
  }

  @media (max-width: 767px) {
    margin: 1vh 0 1vh 0;
    width: 60vw;
    height: 6vh;
    font-size: 4vw;
    border: 0.5vw solid white;
  }

  position: relative;
  margin: 1vh 0 3vh 0.5vh;
  background: transparent;
  color: white;
  border: 0.2vw solid white;
  width: 17.5vw;
  height: 7vh;
  font-size: 1.4vw;
  cursor: pointer;

  &:active {
    top: 1px;
  }
}

.main {
  @media (max-width: 767px) {
    grid-template-columns: unset;
    top: 0;
    transform: unset;
    height: auto;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: unset;
    top: 0;
    transform: unset;
    height: auto;
  }

  display: grid;
  grid-template-columns: 50vw 50vw;
  position: absolute;
  height: 85vh;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  .one {
    text-align: center;
    background: black;

    .logoref {
      text-decoration: none;
    }
  }

  .two {
    @media (max-width: 767px) {
      background: unset;

      .gif {
        display: block !important;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      background: unset;

      .gif {
        display: block !important;
      }
    }

    background: url("./image/anim.gif") no-repeat center / cover;

    .gif {
      width: 100%;
      display: none;
    }
  }
}

.box {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 4px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid white;
    top: -16px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(40deg);
  }
}
